doctype html
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width,initial-scale=1')

        if withBootstrap
            link(rel='stylesheet' href='/vendors/css/bootstrap.min.css')
            script(defer src='/vendors/js/bootstrap.bundle.min.js')

        if headerMainFooter
            link(rel='stylesheet' href='/css/header-main-footer.css')

        link(rel='stylesheet' href='/css/index.css')
        link(rel='stylesheet' href='/build/bundle.css')
        link(rel='icon' type='image/png' href='/img/index.svg')

        script(defer src='/build/bundle.js')

        title= title

    body
        header
            if brandWithEndIcons
                include headers/brand-with-end-icons
        main
            if withAsideMenu
                aside.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-light
                    a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-white.text-decoration-none(href="/")
                        span.fs-4 Sidebar
                    hr
                    ul.nav.nav-pills.flex-column.mb-auto
                        li.nav-item
                            a.nav-link.active(href="#" aria-current="page") Home
                article &nbsp;
        footer
            if footerWithCopyright
                include footers/footer-with-copyright

