- var author = "Михаил Беляков"
- var title = "Привет, мир!"
- var brand = "Привет, мир!"
- var description = "Шаблон (template) для проектов на основе svelte с использованием pug."
- var homeLink = "#/"
- var svgSprite = ["arrow-bar-up","card-checklist","plus-square-dotted","book","signpost","person-plus","github"]
- var navbarLinks = [{"icon":"plus-square-dotted","link":"#/api/initialize","title":"Создать материал"},{"icon":"card-checklist","link":"#/api/publish","title":"Опубликовать материалы"},{"icon":"person-plus","link":"#community","title":"Обратная связь"},{"icon":"github","link":"https://github.com/yababay/svelte-meets-yababay","title":"Проект на Гитхабе"}]
- var tocToggle = "Показать список материалов"
- var tocHeader = "Список материалов:"
- var asideLinks = [{"title":"Первая секция","link":"#first","links":[{"link":"#content/first-first.md","title":"Первая ссылка","icon":"book"},{"link":"#content/first-second.md","title":"Вторая ссылка","icon":"book"},{"link":"#content/first-third.md","title":"Третья ссылка","icon":"book"}]},{"title":"Вторая секция","link":"#second","links":[{"link":"#content/second-first.md","title":"Первая ссылка","icon":"signpost"},{"link":"#content/second-second.md","title":"Вторая ссылка","icon":"signpost"},{"link":"#content/second-third.md","title":"Третья ссылка","icon":"signpost"}]},{"title":"Третья секция","link":"#third","links":[{"link":"#content/third-first.md","title":"Первая ссылка","icon":"book"},{"link":"#content/third-second-is-absent.md","title":"Вторая ссылка","icon":"book","style":"danger"},{"link":"#content/third-third.md","title":"Третья ссылка","icon":"book"}]}]
- var withBootstrap = true
- var withSvelte = true
- var withHashRouting = true
- var withHMFLayout = true
- var withComfortableReading = true
- var withCustomCss = true
- var headerLayout = "brand-and-end-icons"
- var mainLayout = "offcanvas-and-article"
- var footerLayout = "simple-copyright"
- var copyright = true
