:root {
    --min-header-height: 4rem;
    --min-footer-height: 3rem;
    --header-height: 4rem;
    --footer-height: 3rem;
}

header {
    min-height: var(--min-header-height);
    height: var(--header-height);
}

nav {height: 100%;}

footer {
    min-height: var(--min-footer-height);
    height: var(--footer-height);
}

header, footer, main {
    margin:  0;
    padding: 0;
    border:  0;
}

:root {
    --main-min-height: calc(99vh - var(--header-height) - var(--footer-height));
}

main {
    min-height: var(--main-min-height);
}

hr {
    margin: .3rem 0;
}

@media (min-width: 45em) {
  main {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}

