nav.navbar.navbar-dark.bg-dark.shadow
    a.navbar-brand.ms-3(href="#/")
        picture
             source(srcset="/img/index.svg" type="image/svg+xml")
             source(srcset="/img/index.png" type="image/png")
             source(srcset="/img/logo.svg" type="image/svg+xml")
             source(srcset="/img/logo.png" type="image/png")
             img(src="/img/image.svg" alt="logo")
        span= brand
    ul.navbar-nav.flex-row.flex-wrap.ms-md-auto
